################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinimalApis/.vs
/MinimalApis/MinimalApis.Demo/bin/Debug/net7.0
/MinimalApis/MinimalApis.Demo/obj
/MinimalApis/MinimalApis.DK22/obj
